@model CinephilesChoice.Models.NominationViewModel

@{
    ViewData["Title"] = @Model.Nominations.First().Year + " - " + @Model.Nominations.First().AwardCategory;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-3">@Model.Nominations.First().Year - @Model.Nominations.First().AwardCategory</h1>

<div class="mt-3">
    <h5>Oscar Winner - @Model.Nominations.Where(n => n.IsWinner == true).First().Movie.Title</h5>
    <h5 id="my-vote"></h5>
</div>
<div id="chart"></div>
<div>
    <h5>Filter chart by year of voting:</h5>
    <button onclick="drawChart('@Model.JsonNomineeNames', '@Model.JsonVotes', '@Model.Year - @Model.Category', '')">All Time</button>
</div>
    @foreach (string year in Model.Votes.OrderBy(v => v.Date).GroupBy(v => v.Date.Year).Select(v => v.First().Date.Year.ToString()))
    {
        <button onclick="drawChart('@Model.JsonNomineeNames', '@Model.JsonVotes', '@Model.Year - @Model.Category - User Votes from @year ', '', @year)">@year</button>
    }

<div class="row">
    @foreach (Nomination nomination in Model.Nominations)
    {
        <div class="col-sm-6 col-md-4 col-lg-3 movie-poster-container">
            @if (nomination.IsWinner)
            {
                <img class="movie-poster oscar-winner" src="@nomination.Movie.Poster" alt="@nomination.Movie.Title" />
            }
            else
            {
                <img class="movie-poster" src="@nomination.Movie.Poster" alt="@nomination.Movie.Title" />
            }

            <div class="movie-poster-overlay">
                <div>
                    <h5>Nominee: @nomination.Nominee</h5>
                    <h6>Title: @nomination.Movie.Title</h6>
                    <h6>Directed by: @nomination.Movie.Director</h6>
                    <h6>Genre(s): @nomination.Movie.Genre</h6>
                    <h6>Starring: @nomination.Movie.Actors</h6>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/google-chart.js"></script>
<script type="text/javascript">

        google.charts.load('current', { 'packages': ['corechart'] });

        google.charts.setOnLoadCallback(function () { drawChart('@Model.JsonNomineeNames', '@Model.JsonVotes', '@Model.Year - @Model.Category', '') });

</script>