@model CinephilesChoice.Models.Nomination

@{
    ViewData["Title"] = "DisplayNomination";
    Layout = "~/Views/Shared/_Layout_Cinephile.cshtml";
}

<h1>DisplayNomination</h1>

<div>
    <h4>Nomination</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nominee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nominee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movie.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AwardCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AwardCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWinner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWinner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
