@model CinephilesChoice.Models.RecommendationViewModel

@{
    ViewData["Title"] = "MovieRecommendation";
    Layout = "~/Views/Shared/_Layout_Cinephile.cshtml";
}

<h1>MovieRecommendation</h1>

<div class="col-sm-6 col-md-4 col-lg-3 movie-poster-container">
    <img class="movie-poster" src="@Model.Movie.Poster" alt="@Model.Movie.Title" />
    <div class="movie-poster-overlay">
        <div>
            <h6>Title: @Model.Movie.Title</h6>
            <h6>Directed by: @Model.Movie.Director</h6>
            <h6>Starring: @Model.Movie.Actors</h6>
        </div>
    </div>
</div>

<a asp-action="DisplayNominations" asp-route-year="@Model.Year" asp-route-category="@Model.Category">OK</a>
