@model CinephilesChoice.Models.VoteViewModel

@{
    ViewData["Title"] = "Vote - " + Model.Nominations.First().AwardCategory + " - " + Model.Nominations.First().Year;
    Layout = "~/Views/Shared/_Layout_Cinephile.cshtml";
}

    <h1>Vote - @Model.Nominations.First().AwardCategory - @Model.Nominations.First().Year</h1>

<div class="row">
    <div class="col-8 vote justify-content-center">
        <form asp-action="VoteOnNomination" class="form-inline">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Vote.Id" />
            <input type="hidden" asp-for="Vote.MoviegoerId"  />
            <input type="hidden" asp-for="Vote.Moviegoer" />
            <select asp-for="Vote.NominationId" asp-items='new SelectList(Model.Nominations, "Id", "Nominee")'></select>
            <span class="form-group pl-3">
                <input type="submit" value="Save" class="btn btn-primary pt-1 pb-1" />
            </span>
        </form>
    </div>
</div>
<div class="row">
    @foreach (Nomination nomination in Model.Nominations)
    {
        <div class="col-md-3 movie-poster-container">
            <img class="movie-poster" src="@nomination.Movie.Poster" alt="@nomination.Movie.Title" />
            <div class="movie-poster-overlay">
                <div>
                    <h5>Nominee: @nomination.Nominee</h5>
                    <h6>Title: @nomination.Movie.Title</h6>
                    <h6>Directed by: @nomination.Movie.Director</h6>
                    <h6>Genre(s): @nomination.Movie.Genre</h6>
                    <h6>Starring: @nomination.Movie.Actors</h6>
                </div>
            </div>
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to Home Page</a>
</div>

